* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333333;
  text-decoration: none;
}

button {
  font-size: 1rem;
  padding: 0.5rem 0.4rem;
}

.App {
  width: 100%;
  display: flex;
  align-content: space-around;
}

.App > .tbl {
  margin: 1em;
}

.App > .red-table {
  width: 20%;
  display: flex;
  align-content: space-around;
  border: 1px red solid;
}

.App > .green-table {
  width: 30%;
  display: flex;
  align-content: space-around;
  border: 1px green solid;
}

.App > .blue-table {
  width: 40%;
  display: flex;
  align-content: space-around;
  border: 1px blue solid;
}