.table {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.info .width-indicator {
    align-self: end;
    font-size: larger;
    font-weight: 600;
}
